<!DOCTYPE html>
<html>
    <head>
        <title>Account - CreatorSpace</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="stylesheet" href="/assets/lib/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap-5.3.0-alpha3-dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/assets/css/videos.css">
    </head>
    <body>
        {{ template "navbar.tmpl" }}
        <div class="container">
            <!-- have options for changing password and manage subscriptions -->
            <div class="row">
                <div class="col-12">
                    <h1>Account Settings</h1>
                </div>
                <!-- Change password -->
                <div class="password-settings">
                    
                </div>

            </div>
        </div>
    </body>

</html>