<!DOCTYPE html>
<html>
<head>
    <title>Creators - CreatorSpace</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/lib/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css">
    <script src="/assets/lib/bootstrap-5.3.0-alpha3-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="CreatorSpace is a tool to archive and watch your favorite creators. Add to or view your current collection of videos.">
	<meta name="keywords" content="creator, archive, youtube, twitch, video, collection, watch">
	<meta name="author" content="CreatorSpace">
	<meta property="og:image" content="{{.ServerPath}}/assets/img/banner.png">
</head>
<body>
{{ template "navbar.tmpl" }}
<div class="main-content">
    <div class="content-header">Creators</div>  
    <div class="creators">
        {{ $count := 0 }}
        {{ range .files }}
        {{ if eq (mod $count 4) 0 }}
            </div>
            <div class="creators">
        {{ end }}
        <a href="/creators/{{ .ChannelID }}">
            <div class="creator">
                <img class="thumbnail" src="/api/youtube/creators/{{.ChannelID}}/thumbnail" alt="{{.Name}}"/>
                <div class="name">{{ .Name }}</div>
            </div>
        </a>
        {{ $count = add $count 1 }}
        {{ end }}
    </div>
</div>
</body>
</html>
