{{ template "header" .}}
<div class="main-content">
    <div class="content-header">Creators</div>  
    <div class="creators">
        {{ $count := 0 }}
        {{ range .files }}
        {{ if eq (mod $count 4) 0 }}
            </div>
            <div class="creators">
        {{ end }}
        <a href="/creators/{{ .ChannelID }}">
            <div class="creator">
                <img class="thumbnail" src="/api/youtube/creators/{{.ChannelID}}/thumbnail" alt="{{.Name}}"/>
                <div class="name">{{ .Name }}</div>
            </div>
        </a>
        {{ $count = add $count 1 }}
        {{ end }}
    </div>
</div>
{{ template "footer" .}}