{{template "header" .}}

<div class="main-content container my-5">
    <div class="logo">
        <img src="/assets/img/banner.png" class="img-fluid mx-auto d-block"
             alt="Logo">
    </div>
    <h1 class="text-center text-white">Welcome to CreatorSpace</h1>
    <p class="text-center text-white">Your tool to archive and watch your favorite creators. Add to or view your
        current collection of videos.</p>
    <div class="text-center">
        <a href="/creators" class="btn btn-primary" style="margin-top:30px;">Browse Creators</a>
    </div>
</div>

{{template "footer" .}}