<!DOCTYPE html>
<html>
    <head>
        <title>Log out</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#212529">
        <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#212529">
        <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
        <meta name="theme-color" content="#212529">

        <link rel="stylesheet" type="text/css" href="/assets/css/auth.css" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="CreatorSpace is a tool to archive and watch your favorite creators. Add to or view your current collection of videos.">
        <meta name="keywords" content="creator, archive, youtube, twitch, video, collection, watch">
        <meta name="author" content="CreatorSpace">
        <meta property="og:image" content="{{.ServerPath}}/assets/img/banner.png">
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <img src="/assets/img/banner.png" class="img-fluid mx-auto d-block"
                    alt="Logo">
            </div>
            <h1>Log out</h1>
            <p>You have been logged out.</p>
            <p>Redirecting in <span id="countdown">5</span> seconds...</p>
            <a href="/">Click here to go to the home page.</a>
        </div>
        <script>
            var countdown = 5;
            var interval = setInterval(function() {
                document.getElementById('countdown').innerHTML = countdown;
                countdown--;
                if (countdown < 0) {
                    clearInterval(interval);
                    window.location = '/';
                }
            }, 1000);
        </script>
    </body>
</html>