<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#212529">
        <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#212529">
        <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
        <meta name="theme-color" content="#212529">

        <link rel="stylesheet" type="text/css" href="/assets/css/auth.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="CreatorSpace is a tool to archive and watch your favorite creators. Add to or view your current collection of videos.">
        <meta name="keywords" content="creator, archive, youtube, twitch, video, collection, watch">
        <meta name="author" content="CreatorSpace">
        <meta property="og:image" content="{{.ServerPath}}/assets/img/banner.png">
    </head>
    <body>
        <div class="container">
            
            <div class="invalid-text hidden"></div>
            <div class="logo">
                <img src="/assets/img/banner.png" class="img-fluid mx-auto d-block"
                    alt="Logo">
            </div>
            <h1>Register</h1>
            <form action="" method="post">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" id="username"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" id="password"/></td>
                </tr>
                <tr>
                    <td>Confirm password:</td>
                    <td><input type="password" name="confirm_password" id="confirm_password"/></td>
                </tr>
            </table>
            <div class="input-actions">
                <p><input type="submit" value="Sign Up" /></p>
                <p><a href="/login">Login</a></p>
            </div>
            </form>
        </div>
        <script>
            // login to /api/auth/login, if 200 response, redirect to /home

        let form = document.querySelector('form');
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            let username = document.querySelector('input[name="username"]').value;
            let password = document.querySelector('input[name="password"]').value;
            fetch('/api/auth/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                // format body for c.PostForm("username") and password
                body: JSON.stringify({
                    username: username,
                    password: password
                })
            })
            .then(function(response) {
                if (response.status === 200) {
                    window.location = '/home';
                } else {
                    let invalidText = document.querySelector('.invalid-text');
                    // the response is {"data":"empty fields","status":"error"}, so we need to parse it
                    response.json().then(function(data) {
                        invalidText.innerHTML = "Error: " + data.data;
                    });
                    invalidText.classList.remove('hidden');
                    /* flash the error momentarily */
                    setTimeout(function() {
                        invalidText.classList.add('hidden');
                    }, 2000);
                }
            });
        });
        </script>
    </body>
</html>